.Live{
  background-color: $ThirdColor;
  .container{
    padding: 80px 0;
    text-align: center;
   iframe{
     width: 620px;
    height: 350px;
   }
  }
}
@media (min-width: 552px) and (max-width: 767px) {
  .Live{
    .container{
      iframe{
        width: 460px;
        height: 300px;
      }
    }
  }
}