.Programs{
  padding: 80px 0;
  .container{
    .AllPrograms{
      display: flex;
      flex-wrap: wrap;
      .Program-item{
        width: 15%;
        margin: 10px 0.833%;
        font-family: 'Cairo', sans-serif;
        text-align: center;
        img{
          max-width: 100%;
          border:2px solid #FFF;
          box-shadow: 0 0 2px #999;
          @include transition(0.3);
        }
        a{
          display: block;
          font-size: 18px;
          color: #828282;
          font-weight: 700;
          @include transition(0.3);
          margin: 10px 0;
        }
        p{
          font-size: 14px;
          color: #999;
          font-weight: 600;
          margin: 5px 0;
        }
        &:hover{
          img{
            box-shadow: 0 0 2px #353535;
          }
          a{
            color: $FirstColor;
          }
        }
      }
    }
  }
}

@media (min-width: 551px) and (max-width: 767px) {
  .Programs{
    .container{
      .AllPrograms{
        .Program-item{
          width: 23%;
          margin: 10px 1%;
          a{
            font-size: 16px;
          }
          p{
            font-size: 14px;
          }
        }
      }
    }
  }
}